.border-reports {
  width: calc(100vw - 100px)
}

.border-reports-expand {
  width: calc(100vw - 280px)
}

.text-large{
  font-size: xx-large;
  color: white;
}

.border-reports{
  padding-top: 36px;
}

.options-reports{
  border-color: #123F66;
  background-color: #022544;
  color: white !important;
  border-radius: 20px;
}

.card-title-reports{
  padding-top: 15px;
}

.card-title-graphcs-reports{
  padding-top: 15px;
  padding-left: 15px;
}

.height-card-reports{
  height: 150px;
}

.height-card-graphcs-reports{
  height: 230px;
}

.margin-rigth {
  margin-right: 4rem;
}

.margin-left {
  margin-left: 4rem;
}
