.border-menu-expand{
  width: calc(100vw - 280px)
}

.border-menu {
  width: calc(100vw - 100px)
}

.color-text{
  color: black;
  font-size: xx-large;
}

.nav-border-top{
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.color-text-perfil{
  color: white;
  font-size: x-large;
}
