.options-board{
  border-color: #123F66;
  background-color: #022544;
  color: white !important;
  border-radius: 20px;
}

.border-dashboard-expand{
  width: calc(100vw - 280px)
}

.border-dashboard {
  width: calc(100vw - 100px)
}

.height-card-description{
  height: 150px;
}

.height-card-graphcs{
  height: 230px;
}
