<div class="row p-4" [ngClass]="{'border-dashboard-expand': isExpand, 'border-dashboard': !isExpand}">
  <div class="col-md-4 mt-3">
    <div class="rounded-3 p-3 options-board height-card-description">
      <h1 class="card-text text-center">Overdue</h1>
      <hr style="margin-top: -15px;">
    </div>
  </div><div class="col-md-4 mt-3">
    <div class="rounded-3 p-3 options-board height-card-description">
      <h1 class="card-text text-center">Progress</h1>
      <hr style="margin-top: -15px;">
    </div>
  </div>
  <div class="col-md-4 mt-3">
    <div class="rounded-3 p-3 options-board height-card-description">
      <h1 class="card-text text-center">Done</h1>
      <hr style="margin-top: -15px;">
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <div class="rounded-3 p-3 options-board height-card-graphcs">
      <h1 class="card-text">Status por mês</h1>
      <hr style="margin-top: -15px;">
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <div class="rounded-3 p-3 options-board height-card-graphcs">
      <h1 class="card-text">Total de tarefas por status</h1>
      <hr style="margin-top: -15px;">
    </div>
  </div>
</div>